:root {
    --dark-gray: #222;
    --dark-blue: #12232e;
    --light-blue: #007cc7;
    --lighter-blue: #4da8da;
    --shadow-dark-blue: #203647;
    --shadow-light-blue: #eefbfb;
    --light-bg-color: #cacaca;
}

html {
    background-color: #333;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-weight: bold;
    text-align: left;
    padding: 50px;
}

.header {
    background-color: #121212;
    height: 100%
}

.addBook {
    color: #222;
    font-weight: bold;
    margin: 1rem;
    padding: 1rem;
    background-color: var(--light-bg-color);
    border-color: #222;
    border-width: 2px;
    border-radius: .5rem;
}

.addBook:hover {
    cursor: pointer;
    border-color: #aaa;
    border-width: 3px;
}

.close-container{
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

.top-right {
    position: absolute;
    right: 0;
    top: 0
}

.leftright {
    height: 4px;
    width: 30px;
    margin-top: 5px;
    position: absolute;
    background-color: red;
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all .3s ease-in;
}

.rightleft {
    height: 4px;
    width: 30px;
    margin-top: 5px;
    position: absolute;
    background-color: red;
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all .3s ease-in;
}

.middle {
    align-items: center;
}


#test-close {
    color: white;
    font-size: .6em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all .3s ease-in;
    opacity: 0;
}

#main-text {
    color: var(--light-bg-color);
}

#book-info-wrapper {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    color: var(--shadow-light-blue);
}

#book-info {
    position: relative;
    background-color: var(--dark-blue);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 0.3pc;
    width: 20%;
}

label {
    font-size: 18px;
    font-weight: bold;
}

input[type=text], input[type=submit] {
    width: 100%;
    margin: 8px 0;
    padding: 14px 20px;
}

input[type=text] {
    box-sizing: border-box;
}

input[type=submit] {
    border: none;
    border-radius: 3px;
    color: white;
    background-color: var(--shadow-dark-blue);
}

input[type=submit]:hover {
    cursor: pointer; 
    color: gray;   
}